/* reset */
@media screen and (min-width: 320px) and (max-width: 950px) {
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style-type: none;
}
/* class */
.container {
    width: 95vw;
    margin: 0 auto;
    padding: 0 5px;
}
.navbar-collapse {
    text-align: center;
    padding-bottom: 1em;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav-bar {
    display: flex;
    align-items: center;
    column-gap: 3em;
    padding: 0;
    display: none;
}
.nav-bar-list-link {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #363940;
}
.header__btn-try {
    width: 112px;
    height: 36px;
    border: 0;
    background: #DA0101;
    border-radius: 4px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
/* preview */
.preview {
    background: #DEDFE3;
    padding-bottom: 1em;
}
.main__preview {
    display: flex;
    justify-content: space-between;
}
.main__preview-about h1 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 68px;
    color: #006BA6;
    margin: 0.5em 0;
}
.main__preview-about h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #DA0101;
    margin: 0.5em 0;
}
.main__preview-about-content {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-bottom: 1.5em;
}
.main__preview-about-content img {
    width: 48px;
    height: 48px;
}
.main__preview-about-content h4 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #363940;
}
.main__preview-about-content span {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #363940;
}
.main__preview-btn-item {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #DA0101;
    border-radius: 4px;
    border: 0;
    width: 45%;
    height: 60px;
}
.main__preview-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.main__preview-img-bg {
    width: 50%;
    height: 35em;
    background: url(./assets/img/Fun\ people.jpg);
    border-radius: 30px;
    filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.25));
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    display: none;
}
.main__preview-about {
    width: 100%;
}
/* our results */
.main__our-results h2 {
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #DA0101;
    margin-top: 1em;
}
.main__results-list {
    display: block;
    padding: 0;
}
.main__results-list h3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 43px;
    color: #0496FF;
    margin: 0;
}
.main__results-list p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #363940;
    margin: 0.2em;
}
.results-list-item {
    width: 100%;
    text-align: center;
}
/* our team */
.main__team-list-item img {
    width: 140px;

}
.team-teacher-photo-wrapper {
    width: 140px;
    height: 140px;
    margin-bottom: 1em;
}
.team-teacher-photo-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.main__team h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #DA0101;
}
.main__team h5 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #363940;
    margin-bottom: 2em;
}
.main__team-list {
    display: block;
    align-content: center;
}
.team-teacher-about h3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #363940;
}
.team-teacher-about h4 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #95A1BB;
}
.team-teacher-about p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #363940;
}
.main__team-list-item {
    display: flex;
}
.team-teacher-about {
    width: 60%;
    margin-left: 7%;
}
/* portfolio */
.main__portfolio-text h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #DA0101;
}
.carousel-item {
    height: 15em;
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* price */
.main__price > h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #DA0101;
    margin-top: 1em;
}
.main__price > h4 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #363940;
    margin-bottom: 1em;
}
.main__price-list {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1em;
}
.main__price-list-item-enroll {
    width: 48%;
    border: 1px solid #006BA6;
    border-radius: 10px;
    text-align: center;
    min-width: 250px;
}
.main__price-list-item-get {
    width: 48%;
    border: 1px solid #E1E5EE;
    border-radius: 10px;
    text-align: center;
    min-width: 250px;
}
.price-list-item-btn-get {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #006BA6;
    border: 1px solid #006BA6;
    border-radius: 4px;
    background-color: #fff;
    width: 50%;
    height: 4em;
    margin-bottom: 2em;
}
.price-list-item-btn-enroll {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #006BA6;
    border-radius: 4px;
    border: 0;
    width: 50%;
    height: 4em;
    margin-bottom: 2em;
}
.main__price-list-item-enroll > h4 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #363940;
    margin-top: 1em;
}
.main__price-list-item-enroll > h2 {
    font-weight: 500;
    font-size: 1.5em;
    line-height: 43px;
    text-align: center;
    color: #006BA6;
}
.main__price-list-item-enroll > h5 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #363940;
}
.main__price-list-item-get > h4 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #363940;
    margin-top: 1em;
}
.main__price-list-item-get > h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 43px;
    text-align: center;
    color: #95A1BB;
}
.main__price-list-item-get > h5 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #363940;
}
/* faq */

.faq-section h3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #DA0101;
    text-align: center;
    margin-top: 1EM;
}
.main__faq-content {
    border-top: 0.15em solid #e9e9e9;
    text-align: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #006BA6;
}
.main__cross {
    width: 2em;
    height: 2em;
    transform: rotate(45deg);
    transition: 0.5s;
}
.main__faq-title span {
    font-size: 1.5em;
    text-align: left;
}
.main__faq-que-wrapper {
    display: block;
    font-size: 0;
    transition: 0.5s;
    text-align: left;
}
.main__faq-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.7em 0;
}
.input-check:checked ~ .main__faq-que-wrapper{
    font-size: 1em;
    margin: 1em 0;
}
.input-check:checked ~ .main__faq-title .main__cross{
    transform: rotate(0deg);
}
.input-check:checked ~ .main__faq-title{
    color: #DA0101;
}

/* registration */
.main__registation-form > h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #DA0101;
    margin: 0;
}
.main__registation-form > h4 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #363940;
    margin: 1em 0 0;
}
.main__registation-form {
    width: 100%;
    margin: 0;
    text-align: center;
}
.order__input {
    border: 1px solid #CAD1E1;
    border-radius: 4px;
    width: 100%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #95A1BB;
    margin-top: 2em;
    height: 3.5em;
    padding: 0 0 0 15px;
}
.order__form {
    width: 95%;
    margin: 0 auto;
} 
.order__form-btn {
    background: #DA0101;
    border-radius: 4px;
    border: 0;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 1em;
    width: 100%;
    height: 3em;
    padding: 0;
}
.main__registration-img-bg {
    width: 50%;
    height: 45em;
    background: url(./assets/img/registration.png);
    border-radius: 30px;
    filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.25));
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    display: none;
}
.main__registration {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.registration {
    margin-top: 2em;
}
/* contact */
.contact {
    background: #006BA6;
    margin-top: 3em;
}
.footer__contact {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 1em 0;
}
.footer__contact-messenger-list {
    display: flex;
    gap: 2em;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}
.footer__contact > h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0;
}
.footer__contact-info a {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}
.footer__contact-info {
    width: 100%;
}
/* id */

/* placeholder */
input::placeholder {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #95A1BB;
  }
/* modal */
.modal{
    position:fixed;
    top:0;
    left:0;
    z-index:1050;
    display: none;
    width:100%;
    height:100%;
    overflow:hidden;
    background-color:rgba(0,0,0,.5)
}
.modal__content{
    position:absolute;
    top: 50%;
    left: 50%;
    max-width: 500px;
    min-width: 300px;
    transform: translate(-50%, -50%);
    padding:30px;
    background-color:#fff;
    border:1px solid rgba(0,0,0,.2);
    border-radius:30px;
    max-height:70vh;
    overflow-y:auto
}
.modal__content::-webkit-scrollbar {
    width: 0;
  }
.modal__close{
    position:absolute;
    top:8px;
    right:14px;
    font-size:30px;
    color:#000;
    opacity:.5;
    font-weight:700;
    border:none;
    background-color:transparent;
    cursor:pointer
}
.modal__content  h2 {
    width: 100%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #DA0101;
}
.modal__content  h4 {
    width: 100%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #363940;
}

/* modal sending*/
.modal-content-sending {
    display: none;
    text-align: center;
}
.modal-content-sending h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #006BA6;
}
@keyframes donut-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .donut {
    display: inline-block;
    border: 7px solid rgba(0, 0, 0, 0.1);
    border-left-color: #006BA6;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: donut-spin 1.2s linear infinite;
  }
/* modal done*/
.modal-content-done {
    display: none;
    text-align: center;
}
.modal-content-done h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #006BA6;
}
.animated-check {
    height: 10em;
    width: 10em
}
.animated-check path {
    fill: none;
    stroke: #7ac142;
    stroke-width: 2;
    stroke-dasharray: 23;
    stroke-dashoffset: 23;
    animation: draw 1s linear forwards;
    stroke-linecap: round;
    stroke-linejoin: round
}
@keyframes draw {
    to {
        stroke-dashoffset: 0
    }
}
/* modal Error*/
.modal-content-cross {
    display: none;
    text-align: center;
}
.modal-content-done h2 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #DA0101;
}
.checkmark {
    margin: 0 auto;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #DA0101;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  
  .checkmark_circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #DA0101;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark_check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #DA0101;
    }
  }

}



